@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');

body {
    background-color: powderblue;
    font-family: 'Edu SA Beginner', sans-serif;
    color: darkslategrey;
    font-size: 48px;
}

.title {
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.play-buttons {
    gap: 75px;
}

.play-buttons {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#score {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#rock, #paper, #scissors {
    width: 175px;
    height: 175px;
    border-radius: 10px;
    background-size: cover;
    background-color: white;
    transition: 100ms;
}

#rock:hover {
    transform: scale(1.15);
    cursor: pointer;
}

#paper:hover {
    transform: scale(1.15);
    cursor: pointer;
}

#scissors:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.choices {
    font-size: 36px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}