@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');

body {
    background-color: powderblue;
    font-family: 'Edu SA Beginner', sans-serif;
    color: darkslategrey;
    font-size: 5vh;
}

.title {
    display: flex;
    margin-top: 8.2vh;
    justify-content: center;
}

.play-buttons {
    gap: 3.9vw;
}

.play-buttons {
    display: flex;
    justify-content: center;
    margin-top: 8.2vh;
}

#score {
    display: flex;
    justify-content: center;
    margin-top: 8.2vh;
}

#rock, #paper, #scissors {
    border-radius: 10px;
    border-color: white;
    background-size: cover;
    background-color: white;
    transition: 100ms;
}

#rock:hover {
    transform: scale(1.15);
    cursor: pointer;
}

#paper:hover {
    transform: scale(1.15);
    cursor: pointer;
}

#scissors:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.choices {
    font-size: 3.7vh;
    margin-top: 8.2vh;
    margin-left: 1.56vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}